#commodityList{
    overflow: hidden;
}
.commodity-list-box{
    margin-top: .2rem;
}
.commodity-list-box li{
    height: 1.6rem;
    width: 9.5rem;
    background: #fff;
    margin-bottom: .02rem;
    padding: .2rem 0 .2rem .26rem;
    overflow: hidden;
}
.commodity-list-box .avatar{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}
.commodity-list-box .avatar img{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
}
.commodity-list-box .shop{
    width: 4rem;
    float: left;
    margin-left: .26rem;
}
.commodity-list-box .shop h3{
    display: block;
    width: 100%;
    height: .5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-top: .2rem;
    line-height: .3rem;
    color: #222;
    font-weight: normal;
}
.commodity-list-box .shop p{
    padding-top: .2rem;
    line-height: .3rem;
    color: #666;
    font-size: .24rem;
}
.in{
    display: block;
    float: left;
    width: 1.5rem;
    height: .7rem;
    text-align: center;
    line-height: .7rem;
    color: #fff;
    background: #ff7133;
    font-size: .24rem;
    margin-top: .25rem;
}
.delete{
    display: block;
    float: right;
    height: 1.6rem;
    width:2rem;
    background: #fb4276;
    text-align: center;
    line-height: 1.6rem;
    color: #fff;
    margin-top: -0.2rem;
}