@charset "utf-8";
.order-box{
    margin-top: .2rem;
    padding: 0 .2rem;
    background: #fff;
}
.order-num{
    height: .58rem;
    line-height: .58rem;
    font-size: .24rem;
    color: #999;
}
.order-num span{
    display: inline-block;
    width: 1.5rem;
    height: .4rem;
    background: #ff7133;
    text-align: center;
    line-height: .4rem;
    color: #fff;
    font-size: .2rem;
    margin-right: .1rem;
}
.order-name{
    width: 100%;
    height: .6rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: .6rem;
    font-size: .28rem;
    color: #222;
    border-top: 1px solid #f5f8fd;
}
.order-commodity{
    padding: .16rem 0;
    border-bottom: 1px solid #dee2ee;
    border-top: 1px solid #dee2ee;
}
.commodity-pic{
    width: 1.2rem;
    height: 1.2rem;
}
.commodity-pic img{
    display: block;
    width: 1.2rem;
    height: 1.2rem;
}
.commodity-inof{
    width: 3.8rem;
    margin-left: .24rem;
    float: left;
}
.commodity-inof h3{
    display:-webkit-box;
    width: 3.8rem;
    height: .64rem;
    overflow:hidden;
    text-overflow:ellipsis;
    word-break:break-all;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    color: #222;
    font-size: .28rem;
    line-height: .32rem;
}
.commodity-inof p{
    font-size: .24rem;
    color: #666;
    padding-top: .2rem;
}
.price-box h3{
    font-size: .28rem;
    font-weight: normal;
    color: #999;
    text-align: right;
}
.price-box h3 span{
    color: #fb4276;
}
.price-box p{
    font-size: .24rem;
    color: #222;
    text-align: right;
}

.order-total{
    height: .6rem;
    line-height: .4rem;
    text-align: right;
    color: #666;
    font-size: .24rem;
    border-bottom: 1px solid #f5f8fd;
}
.freight{
    border-top: 1px solid #f5f8fd;
    height: .6rem;
    line-height: .4rem;
    text-align: right;
    padding-top: .2rem;
    color: #666;
    font-size: .24rem;
}
.order-total span{
    color: #fb4276;
}
.order-btn{
    border-top: 1px solid #f5f8fd;
    height: .88rem;
    text-align: right;
    padding-top: .12rem;
}
.order-btn a{
    display: inline-block;
    width: 1.48rem;
    height: .58rem;
    line-height: .58rem;
    text-align: center;
    color: #fff;
}
.order-btn a.grey{
    background: #ccc;
}
.order-btn a.orange{
    background: #ff7133;
}

.address{
    width: 100%;
    overflow: hidden;
    margin: .2rem 0;
    background: #fff;
    padding: .1rem .2rem;
    font-size: .24rem;
    color: #666;
    line-height: .45rem;
}
.address-con .blue{
    color: #00aafb;
}
.address .container{
    width: 100%;
    height: .45rem;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.address .address-ico{
    display: inline-block;
    width: .2rem;
    height: 1.4rem;
    line-height: 1.4rem;
    font-size: .3rem;
}
.address span{
    color: #222;
}
.pay-way{
    height: .85rem;
    line-height: .85rem;
    background: #fff;
    border-bottom: 1px solid #f5f8fd;
    font-size: .28rem;
    color: #666;
}
.pay-way span{
    color: #05acfb;
}
.order-time{
    line-height: .4rem;
    font-size: .24rem;
    color: #999;
}
.pay-btn{
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: .98rem;
    background: #ff7133;
    text-align: center;
    line-height: .98rem;
    font-size: .28rem;
    color: #fff;
    z-index: 99;
}
.order-details{
    padding-bottom: 1.2rem;
}

.commodity-size-box{
    overflow: hidden;
}
.commodity-size-box .color{
    line-height: .7rem;
    height: .7rem;
    padding: 0 .2rem;
    font-size: .28rem;
    color: #222;
}
.commodity-size-box .size-info{
    line-height: .6rem;
    font-size: .28rem;
    color: #666;
    padding: 0 .2rem;
}
.size-info  span{
    color: #222;
    float: right;
}
.goods-state{
    height: .38rem;
    padding: 0 .36rem;
    line-height: .38rem;
    background: #00aafb;
    color: #fff;
    font-size: .2rem;
    float: right;
}

.pay-way label{
    display: block;
    width: .4rem;
    height: .4rem;
    margin: .2rem .3rem;
    float: right;
    position: relative;
}
.pay-way label input{
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
    display: block;
    width: .4rem;
    height: .4rem;
    opacity: 0;
}
.pay-way label span{
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    display: block;
    width: .4rem;
    height: .4rem;
    background: url("../images/checkbox.png") no-repeat -0.42rem;
    background-size: .83rem .4rem;
}
.pay-way input[type="radio"]:checked+span{
    background: url("../images/checkbox.png") no-repeat;
    background-size: .83rem .4rem;
}
.blue{
    color: #00abfd;
}