<!DOCTYPE html>
<html lang="en" data-mw="750">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = 0" />
    <title>收货地址</title>
    <link type="text/css" rel="stylesheet" href="../style/orderAddress.css">
    <script type="text/javascript" src="../js/pulgins.js"></script>
    <script type="text/javascript" src="../js/addressList.js"></script>
</head>
<body>
    <section id="addressCon">

    </section>
    <a href="../html/orderAddress.html" class="save">添加新地址</a>

<script type="text/html" id="addressTpl">
    {{if json.data}}
    {{each json.data.addressList as item}}
    <div class="address-list" data-address-id="{{item.addressId}}">
        <div class="address-left">
            <p>收  件 人：<span class="address-name">{{item.contactName}}</span></p>
            <p>联系电话：<a href="javascript:;" class="address-mobile">{{item.contactMobile}}</a></p>
            <p>
                {{if item.isDefault == 1}}
                <i class="isDefault" data-default="{{item.isDefault}}">默认</i>
                {{/if}}
                收货地址：<span class="address-city">{{item.address}}</span><span class="address-full">{{item.fullAddress}}</span></p>
        </div>
        <div class="address-right"><i class="iconfont">&#xe61e;</i></div>
        <a href="javascript:;" class="delete J_delete">删除地址</a>
    </div>
    {{/each}}
    {{/if}}
</script>
</body>

</html>